[tool.poetry]
name = "uniplot"
version = "0.15.0"
description = "Lightweight plotting to the terminal. 4x resolution via Unicode."
authors = ["Olav Stetter <olav.stetter@googlemail.com>"]
repository = "https://github.com/olavolav/uniplot"
license = "MIT"
readme = "README.md"
packages = [{include = "uniplot"}]

[tool.poetry.dependencies]
python = ">=3.8"
numpy = ">=1.22.0"

[tool.poetry.dev-dependencies]
pytest = ">=6.0.1"
mypy = "*"
pandas = "^2.0.3"
polars = "^0.20.5"
ruff = "^0.6.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
